
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>任务demo</title>
  <meta name="description" content="任务Demo">

  <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

  <!-- LeanCloud -->
  <script src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="stylesheets/header.css" rel="stylesheet">
  <link href="stylesheets/login.css" rel="stylesheet">
  <script type="text/javascript" src="reuseMethods.js"></script>
  <script type="text/javascript" src="server.js"></script>
  <script type="text/javascript" src="initLeanCloud.js"></script>
  <script type="text/javascript" src="routes/login.js"></script>
</head>
<body>
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-tabs pull-right">
        <li role="presentation" class="active"><a href="views/login.ejs">登录</a></li>
        <li role="presentation"><a href="http://easybill.leanapp.cn/signup">注册</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">任务分配列表</h3>
  </div>

  <form class="form-signin">
    <h2 class="form-signin-heading">登录</h2>
    <label for="inputUsername" class="sr-only">username</label>
    <input type="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
</div> <!-- /container -->

</body>
</html>
